.logoMenu {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0 auto;
    width: 80%;
    padding-bottom: 2vw;
}

.menuLogo {
    padding: 10px;
}

.menu {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A30015;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 5px rgba(73, 73, 73, 0.5);
    font-size: 0;
}

.menu a {
    transition: 0;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #ffffff9c;
    display: block;
}

.menu i {
    transition: 0;
    padding: 0 25px;
    font-size: x-large;
    margin: 0 auto;
}

.active{
    padding: 0 22px;
    color: #ffffff;
    border-left-width:3px;
    border-left-style:solid;
    border-left-color:#ffffff;
}

.op:hover {
    transition: 0.3s;
    color: #ffffff;
}